<script type="text/javascript">
  var PET_IMAGE_INFO = {
    amazonAWSUrl: "<%= @image.amazon_aws_url %>",
    imageId: <%= @image.id  %>
  }
</script>

<div class="editor-container">
  <h1> <%= @image.pet.name %> </h1>

  <form method="post" action="<%= captions_url %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" >

    <input type="hidden" name="caption[image_id]" value="<%= @image.id%>">
    <input type="hidden" name="caption[captioner_id]" value="1">
    <input type="hidden" name="caption[top_text_align]" value="center">
    <input type="hidden" name="caption[bottom_text_align]" value="center">

<input type="text" name="caption[top_text]" placeholder="Top text" id="toptext" autocomplete="off">
  <br>
    <div class="canvas-container">
        <canvas id="catCanvas"></canvas>
    </div>

    <br><input type="text" name="caption[bottom_text]" placeholder="Bottom text" id="bottomtext" autocomplete="off">
<br>
<p>
 <div id="top-align-btns"class="btn-group">
      <a class="btn btn-default" href="#"><i class="fa fa-align-left"></i></a><a class="btn btn-default selected" href="#"><i class="fa fa-align-center"></i></a><a class="btn btn-default" href="#"><i class="fa fa-align-right"></i></a>
  </div> Ignore me for now.
</p>
  <a href="#" class="btn submit">Create meme!</a>
  <input type="submit">
  </form>

</div>