<!DOCTYPE html>
<html>
<head>
  <title>AdoptMeme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "shared/shim" %>
</head>
<body>
<%= render "shared/header" %>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
		<%= yield %>
		<%= render "shared/sidebar" %>
    </div><!--/row-->
</div><!--/.container-->

<div class="container">
<%= render "shared/footer" %>
</div>
</body>
</html>

